.section-bg--primary {
  background-color: $primary;
  color: $text-color--primary;
}

.section-bg--dark {
  background-color: $bg--dark;
  color: $text-color--light;
}

.section-bg--light {
  background-color: $bg--light;
  color: $text-color--dark;
}

.no-padding {
  padding: 0;
}

.top-primary-border {
  border-top: 1px solid $primary;
}
