// Colors
$primary: #43abe8;
$secondary: #fff;
$light: #fff;
$dark: #333;
$bg--dark: $dark;
$bg--light: $light;
$text-color--light: $light;
$text-color--dark: $dark;
$text-color--primary: $text-color--light;
$body-color: $text-color--dark;

// Layout / Component Backgrounds
$sidebar-color: #f8f8f8;
$top-dynamic-bg: #e9ecef;
$footer-dynamic-bg: #343a40;
$site-footer-bg: #212529;
$testimonials-bg: #f1f1f1;
$blockquote-bg: #f8f8f8;

// Navigation
$nav-link-color: #43abe8;
$nav-link-color--hover: $dark;
$navbar-light-color: $dark;

// Buttons
$btn-font-weight: 400;
$btn-padding-x: 1rem;
$btn-padding-y: 0.5rem;

// Carousel
$carousel-control-icon-width: 35px;
$carousel-control-color: $primary;
$carousel-indicator-active-bg: $primary;

// Widgets
$search-button-size: 90px;
$widget-title-size: 1.2rem;

$social-z-index: 999;

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Logo
$logo: url(../images/awd-logo.png);
$logo-sizes: (
  mobile-w: 90px,
  mobile-h: 40px,
  desktop-w: 118px,
  desktop-h: 53px,
);

// Social icons
$social-icon-sizes: (
  mobile: 1rem,
  desktop: 1.1rem,
);

// Layout
$spacer: 1rem;

// Typo
$font-family-base: Poppins, Arial, sans-serif;
$font-size-base: 1.1rem; // 1rem stands for around 16px
$line-height-base: 1.7;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h1-font-size-mobile: $h1-font-size * 0.85;
$h2-font-size-mobile: $h2-font-size * 0.85;
$h3-font-size-mobile: $h3-font-size * 0.85;
$h4-font-size-mobile: $h4-font-size * 0.85;
$h5-font-size-mobile: $h5-font-size * 0.85;
$fc-title: $font-size-base * 2.5;
$fc-title-mobile: $fc-title * 0.85;
$headings-margin-bottom: $spacer;
$headings-margin-top: $spacer / 2;

// Parallax
$parallax-code-image: url(../images/code.png);
$searchsubmit-height: 38px;
