.btn-transparent {
  background-color: transparent;
  border-color: $text-color--light;
  color: $text-color--light;

  &:hover {
    background-color: $bg--light;
    color: $primary;
  }
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: $text-color--light;

  &:hover {
    background-color: $bg--light;
    color: $primary;
  }
}

.btn-secondary {
  background-color: transparent;
  border-color: $primary;
  color: $primary;

  &:hover {
    background-color: $primary;
    color: $text-color--light;
    border-color: $primary;
  }
}

.btn-dark {
  background-color: $bg--dark;
  color: $text-color--light;
  border-color: $text-color--light;

  &:hover {
    background-color: transparent;
    color: $text-color--dark;
    border-color: $text-color--dark;
  }
}

.fc__button {
  margin-top: $spacer;
  padding: $btn-padding-y * 2  $btn-padding-x * 2;

  @include media-breakpoint-up(md) {
    margin-top: $spacer * 1.5;
  }
}
