.wp-caption {
  margin-bottom: $spacer;
  max-width: 100%;

  img[class*="wp-image-"] {
    margin: 0 auto $spacer;
    display: block;
  }

  .wp-caption-text {
    margin: 0.8075em 0;
    text-align: center;
  }
}
