.comments-area {
  margin-top: $spacer * 2;
}

.comments-title {
  font-size: 1rem;

  span {
    font-style: italic;
    font-size: 1.4rem;
    display: inline-block;
  }
}

.comment-metadata {
  margin-bottom: $spacer;
  font-size: 0.9rem;
}

.comment-list {
  list-style-type: none;
  padding-left: 0;
}
