.cta {
  font-size: 1.3rem;
  padding: $spacer 0;
  text-align: center;

  @include media-breakpoint-up(sm) {
    padding: $spacer * 3  0;
  }

  &__title {
    font-weight: 700;
    color: $text-color--light;
  }

  .page-template-default & {
    border-radius: 8px;
    margin-bottom: $spacer;
  }
}
