.entry-title {
  &--archive {
    font-weight: 700;

    a {
      color: $text-color--dark;
    }
  }

  &--single-post {
    margin-bottom: $spacer;
  }
}

.entry-header {
  margin-bottom: $spacer * 2;

  .vcard .url {
    color: $text-color--dark;
    font-weight: 700;
  }

  &--primary {
    position: relative;
    padding: $spacer * 3 0;

    @include parallax-code-image();

    .entry-title {
      color: $text-color--light;
      margin-bottom: 0;
    }
  }
}

.entry-meta {
  background-color: #f8f8f8;
  padding: $spacer / 2  $spacer;
  font-size: 0.9rem;
}

.entry-featured-image {
  margin-bottom: $spacer * 2;
}

.entry-content ul {
  list-style-type: none;
  padding-left: $spacer;

  li {
    line-height: 2;
  }
}
