$profile-image-size: 65px;

.fc--content-slider {
  background-color: $testimonials-bg;
  overflow: hidden;
}

.content-slide {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: $spacer * 2  0 0;
    overflow: hidden;
    max-width: 1000px;
    margin: 0 auto;
  }

  &__editor {
    display: flex;
    align-items: center;
    font-style: italic;
    position: relative;
    min-height: 380px;
    padding: 0 $spacer;

    @include media-breakpoint-up(sm) {
      min-height: 220px;
    }

    @include media-breakpoint-up(md) {
      min-height: 170px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 1.3rem;
    }

    p {
      margin-bottom: 0;

      &::before {
        content: "";
        background-image: url(../images/double-quote-serif-right-4x.png);
        display: inline-block;
        font-size: 3rem;
        position: relative;
        width: 32px;
        height: 32px;
        margin-right: $spacer;
      }
    }
  }

  &__secondary {
    font-size: 1rem;
    font-weight: 900;
    width: 100%;
    $persons: doug nathan colleen paul;

    @include create-profile-image($persons);

    @include media-breakpoint-up(lg) {
      font-size: 1.2rem;
    }
  }

  .carousel-indicators {
    top: 0;
    height: 2px;
  }

  .carousel-navigation {
    list-style-type: none;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none;

    @include media-breakpoint-up(sm) {
      display: flex;
    }
  }
}

.profile-name {
  font-size: 1.1rem;
  font-weight: 700;
  color: $text-color--dark;
}

.profile-image {
  display: none;

  @include media-breakpoint-up(sm) {
    display: inline-block;
    border-radius: $profile-image-size;
    width: $profile-image-size;
    height: $profile-image-size;
    background-color: #fff;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: $spacer;
    position: relative;
    vertical-align: middle;
  }
}

.ratings {
  color: $yellow;
  display: block;
  width: 100%;
  font-style: normal;
  position: relative;
  margin-bottom: $spacer / 2;

  &__star {
    margin-left: $spacer / 3;
  }
}
