$portfolio-hover-animation-speed: 0.5s;

.fc--portfolio {
  font-size: inherit;
}

.box {
  min-height: 300px;
  max-width: 320px;
  display: block;
  position: relative;
  margin: 0 auto $grid-gutter-width;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    min-height: 300px;
    max-width: 540px;
  }

  @include media-breakpoint-up(lg) {
    min-height: 400px;
  }
}

.box--sqaures-effect {
  font-size: inherit;
  outline: 2px solid #dedede;
  transition: all $portfolio-hover-animation-speed ease-in;

  &__overlay {
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    border: 100px solid rgba(0, 0, 0, 0);
    transition: all $portfolio-hover-animation-speed cubic-bezier(0.94, 0.85, 0.1, 0.62);
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__content {
    position: absolute;
    bottom: 100%;
    z-index: 5;
    padding: $spacer;
    transition: $portfolio-hover-animation-speed;
    font-size: 1.1rem;
    text-align: left;
    color: $text-color--dark;
    opacity: 0;
  }

  &__title {
    font-weight: 900;
    font-size: 1.4rem;
    color: $text-color--dark;
    margin-bottom: 0;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: $portfolio-hover-animation-speed * 6;

    &::before {
      background-color: rgba(256, 256, 256, 0);
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      transition: $portfolio-hover-animation-speed;
    }
  }

  &:hover {
    outline: 2px solid #333;
  }

  &:hover &__overlay {
    border: 0 double rgba(0, 0, 0, 0.45);
    opacity: 1;
    visibility: hidden;
  }

  &:hover &__image {
    transform: scale(1.05);

    &::before {
      background-color: rgba(256, 256, 256, 0.85);
    }
  }

  &:hover &__content {
    bottom: 0;
    opacity: 1;
  }
}
