$skew-angle: 4deg;
$services-icon-size: 65px;

.fc--services {
  padding: $spacer * 2  $spacer;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    padding: $spacer * 5  $spacer;
  }
}

.services {
  text-align: left;

  &__icon-container {
    display: flex;
    height: $services-icon-size;
    align-items: center;
    justify-content: center;
    padding-bottom: $spacer;
    width: 100%;
    position: absolute;
  }

  &__icon {
    width: $services-icon-size;
    height: $services-icon-size;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    vertical-align: middle;
    transition: 0.25s linear;
  }
}

.service-title {
  color: $text-color--light;
  text-align: center;
  margin-bottom: 1rem;
  padding-top: $services-icon-size;
  font-weight: 900;
  font-size: 1.4rem;
}

$colors-list: $primary lighten($primary, 5%) lighten($primary, 8%) lighten($primary, 11%);

@each $current-color in $colors-list {
  $i: index($colors-list, $current-color);

  .parallelogram-list__item:nth-child(#{$i}) {
    background-color: $current-color;
  }
}

.parallelogram-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  background-color: $primary;
  flex-wrap: wrap;

  @include media-breakpoint-up(xl) {
    flex-wrap: nowrap;
  }

  &__item {
    width: 100%;
    display: flex;
    padding: $spacer * 1.5;
    color: $text-color--light;
    transition: background 0.25s ease-in-out;
    margin-bottom: $spacer;

    @include media-breakpoint-up(md) {
      width: 48%;
      margin-bottom: 2%;
      margin-left: 2%;
      padding: 2% 3%;
    }

    @include media-breakpoint-up(xl) {
      width: 27%;
      transform: skew(-$skew-angle);
      padding: 4% 2%;
      margin: 0;
    }

    &:first-child {
      @include media-breakpoint-up(md) {
        width: 48%;
        margin-left: 2%;
      }

      @include media-breakpoint-up(xl) {
        margin-left: -2%;
        padding-left: 5%;
        width: 20%;
      }
    }

    &:hover {
      background-color: $primary;

      .services__icon-container {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
      }

      .services__icon {
        transform: scale(3);
        position: absolute;
        z-index: 0;
        opacity: 0;
      }
    }
  }

  &__content {
    position: relative;
    width: 100%;
    font-size: 1rem;

    a {
      text-decoration: underline;
      color: $text-color--light;
    }

    @include media-breakpoint-up(lg) {
      transform: skew($skew-angle);
      font-size: 1.1rem;
    }
  }
}

.arrow-right {
  display: block;
  width: 150px;
  height: 46px;
  background: url(../images/arrow-right.png) no-repeat 0 0 scroll;
  background-size: 80%;
  transform: rotate(18deg);
  margin-top: $spacer * 3;

  @include media-breakpoint-up(md) {
    transform: none;
    background-size: 100%;
    margin-top: $spacer;
  }
}
