$hero-padding: $spacer * 6;

.fc--hero {
  padding: $hero-padding / 3 0;

  @include media-breakpoint-up(md) {
    padding: $hero-padding 0;
  }
}

.hero {
  position: relative;
  overflow: hidden;

  @include parallax-code-image();

  &__title {
    @include media-breakpoint-down(md) {
      font-size: 2rem;
    }
  }

  &__subtitle {
    color: $text-color--dark;

    @include media-breakpoint-down(md) {
      font-size: 1.5rem;
    }
  }

  &__image {
    position: absolute;
    bottom: -$hero-padding + 0.1;
    right: 0;
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  .btn {
    padding: $spacer $spacer * 2;
  }
}
