.footer-dynamic {
  background-color: $footer-dynamic-bg;
  color: $text-color--light;
  line-height: 2rem;
  text-align: left;

  .menu-item a {
    color: $text-color--light;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  p {
    margin-bottom: $spacer;
  }
}

.site-footer {
  font-size: 0.9rem;
  background-color: $site-footer-bg;
  color: $text-color--light;

  @include media-breakpoint-down(sm) {
    padding-top: $spacer;
    padding-bottom: $spacer * 3;
  }
}

.entry-footer span {
  padding-right: $spacer;
}

.footer-widget {
  margin-bottom: $spacer;
  justify-content: center;
  display: flex;
}
