$mc-submit-width: 100px;
$mc-submit-height: 38px;

.label {
  display: block;
  width: 100%;
}

// MailChimp for WP
.mc-form {
  position: relative;

  &__input {
    padding-right: $mc-submit-width;
    height: $mc-submit-height;
  }

  &__submit {
    position: absolute;
    right: 0;
    top: 0;
    width: $mc-submit-width;
    height: $mc-submit-height;
    border-radius: 0 0.25rem 0.25rem 0;
    line-height: 1;
  }
}
