.top-dynamic {
  background-color: $top-dynamic-bg;
}

.site-header {
  padding: $spacer / 2  0;
  border-bottom: 1px solid #dedede;
}

.header-info {
  display: flex;
  order: 3;

  @include media-breakpoint-up(md) {
    order: 2;
  }

  .btn {
    padding: 0.5rem;
    font-size: 0.85rem;
    display: block;

    @include media-breakpoint-up(lg) {
      font-size: 1rem;
      padding: $btn-padding-y $btn-padding-x;
    }
  }
}

.navbar-brand {
  margin: 0;
  order: 2;

  @include media-breakpoint-up(md) {
    order: 1;
  }
}

.logo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: map-get($logo-sizes, 'mobile-w');
  height: map-get($logo-sizes, 'mobile-h');
  vertical-align: middle;
  text-indent: -1999px;
  white-space: nowrap;

  @include media-breakpoint-up(lg) {
    width: map-get($logo-sizes, 'desktop-w');
    height: map-get($logo-sizes, 'desktop-h');
  }

  &--header {
    background-image: $logo;
  }
}
