// SVG icons: https://useiconic.com/open/
$icon-size: 8px;
$icon-margin-right: 10px;
$icon-margin-left: 0;

.oi {
  margin-right: $icon-margin-right;
  margin-left: $icon-margin-left;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-attachment: scroll;
  background-size: contain;
  vertical-align: middle;

  &--check {
    width: $icon-size * 2;
    height: $icon-size * 2;
    background-image: url(../images/check-2x.png);
  }

  &--bullhorn {
    width: $icon-size * 8;
    height: $icon-size * 8;
    background-image: url(../images/bullhorn-8x.png);

    .footer-dynamic & {
      width: $icon-size * 6;
      height: $icon-size * 6;
    }
  }

  &--double-quote-serif-right {
    width: $icon-size * 4;
    height: $icon-size * 4;
    background-image: url(../images/double-quote-serif-right-4x.png);
  }
}

// Sprites
.code-sprite {
  width: 36px;
  height: 36px;
  display: inline-block;
  margin-right: $spacer / 2;
  background-image: url('../images/code_sprites.png');

  &--bs {
    background-position: 0 0;
  }

  &--css {
    background-position: -36px 0;
  }

  &--html {
    background-position: -72px 0;
  }

  &--mysql {
    background-position: -108px 0;
  }

  &--php {
    background-position: -144px 0;
  }

  &--wp {
    background-position: -180px 0;
  }

  &--jquery {
    background-position: -216px 0;
  }

  &--js {
    background-position: -252px 0;
  }
}

.skills-icons {
  margin-top: $spacer * 2;
}

// Other icons
.design-icon {
  background-image: url(../images/des.png);
}

.development-icon {
  background-image: url(../images/dev.png);
}

.optimization-icon {
  background-image: url(../images/opt.png);
}
