// Some basic padding for all wrappers
.top-dynamic,
.footer-dynamic,
.site-footer {
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
}

.fc {
  padding-top: $grid-gutter-width * 1.5;
  padding-bottom: $grid-gutter-width * 1.5;

  @include media-breakpoint-up(md) {
    padding-top: $grid-gutter-width * 2.5;
    padding-bottom: $grid-gutter-width * 2.5;
  }
}

.site-main {
  padding: $spacer * 2  0;

  .home &,
  .page-template &,
  .single-portfolio & {
    padding: 0;
  }
}

.category-front-end {
  margin-bottom: $grid-gutter-width * 2;
}

#right-sidebar {
  background-color: $sidebar-color;
  padding-top: $spacer;
}
