$caret-size: 0.25rem;
$caret-position: 14px;
$fixed-toggler-color: #333;

// Second level
.dropdown-menu {
  margin-top: -2px;

  // Other levels
  & & {
    top: 0;
    left: 100%;
    margin-left: 0;
  }

  // Right caret for other item that have dropdown
  .menu-item-has-children > .dropdown-item::after {
    content: "";
    border-bottom: $caret-size solid transparent;
    border-top: $caret-size solid transparent;
    border-left: $caret-size solid;
    position: absolute;
    right: $caret-position;
    top: $caret-position;
  }
}

// Dropdown on mouse hover
.dropdown {
  position: relative;
  display: block;

  &:hover > {
    .dropdown-menu {
      display: block;
    }
  }
}

// Toggle Button
.navbar-toggler {
  background-color: #fff;
  transition: 0.2s linear;
  height: 45px;
  width: 60px;
  display: flex;
  order: 1;

  @include hover-focus-active {
    outline: none;
    border-color: $navbar-light-color;
    background-color: transparent;

    .navbar-toggler-icon {
      width: 1.3em;
      height: 1.3em;
      padding: 0.1em;
      margin: 0 auto;
    }
  }

  .navbar-toggler-icon {
    background: $navbar-light-toggler-icon-bg;
  }
}

.nav-link {
  color: $nav-link-color;
  position: relative;
  transition: color 0.25s linear;
  font-size: 1rem;

  @include hover-focus-active {
    color: $nav-link-color--hover;
  }

  &::after {
    width: 0;
    content: "";
    height: 1px;
    background-color: #000;
    position: absolute;
    left: 0.5rem;
    bottom: 0.35rem;
    transition: width 0.25s linear;

    .active & {
      width: 10px;
      transition: 0;
    }
  }

  &:hover::after {
    width: calc(100% - 1rem);

    .active & {
      width: 10px;
    }
  }

  .active & {
    color: $nav-link-color--hover;
  }
}

.fixed-toggler {
  display: block;
  position: fixed;
  left: -50px;
  top: 10px;
  opacity: 0;
  width: 32px;
  height: 32px;
  transition: 0.3s;
  z-index: 999;
  background: transparent;
  border: 0;
  cursor: pointer;
  transform: rotate(-359deg);

  @include media-breakpoint-up(md) {
    display: none;
  }

  &__icon {
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
    width: 32px;
    height: 28px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 32px;
      height: 22px;
      border-top: 13px double #333;
      border-bottom: 4px solid #333;
    }

    &::after {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      width: 32px;
      height: 22px;
      border-top: 13px double #fff;
      border-bottom: 4px solid #fff;
    }
  }

  @include hover-focus-active {
    outline: none;
  }

  &--active {
    left: 15px;
    transform: rotate(0);
    opacity: 1;
  }
}
