$canvas-breakpoint: 'sm'; // one breakpoint down of specified one in header template navbar-expand-
$canvas-nav-z-index: 99999;
$canvas-size: 80%;
$canvas-bg: #fff;
$canvas-link-color: $primary;
$canvas-border: 1px solid darken($canvas-bg, 15%);
$nav-depth: 3;

// Second level on canvas menu
.dropdown-menu {
  .canvas-nav & {
    @include media-breakpoint-down($canvas-breakpoint) {
      border-radius: 0;
      position: relative;
      display: block;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      margin-top: 0;
      width: 100%;
      padding: 0;

      @include bg-levels('dropdown-menu', lighten($canvas-bg, 5%), 5%, $nav-depth);
    }
  }

  // Other levels
  & & {
    @include media-breakpoint-down($canvas-breakpoint) {
      .canvas-nav & {
        left: 0;
        position: relative;
        width: 100%;
        border: none;
      }
    }
  }

  // Right caret for other item that have dropdown
  .menu-item-has-children > .dropdown-item::after {
    @include media-breakpoint-down($canvas-breakpoint) {
      .canvas-nav & {
        border-top: 0.3rem solid;
        border-right: 0.3rem solid transparent;
        border-bottom: 0;
        border-left: 0.3rem solid transparent;
        right: $caret-position + 2;
        top: $caret-position + 2;
      }
    }
  }
}

.canvas-nav {
  display: flex;
  order: 2;

  @include media-breakpoint-down($canvas-breakpoint) {
    height: 100%;
    width: $canvas-size;
    position: fixed;
    z-index: $canvas-nav-z-index;
    top: 0;
    left: 0;
    margin-left: -$canvas-size;
    background-color: $canvas-bg;
    // overflow-x: hidden;
    padding-top: $spacer * 3;
    transition: 0.5s;

    @include padding-levels('dropdown-menu', 'dropdown-item', $nav-link-padding-x * 1.5, $nav-depth);

    .show-nav & {
      margin-left: 0;
    }

    .navbar-nav {
      width: 100%;
    }

    .canvas-close-btn {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 60px;
      line-height: 1;
      font-family: "Times New Roman", sans-serif;
      color: #fff;
      transition: transform 0.2s ease-in-out 0.3s;
      transform: rotateX(90deg);

      .show-nav & {
        right: - ($spacer * 3);
        transform: rotateX(0);
      }

      @include hover-focus-active {
        text-decoration: none;
        color: #fff;
      }
    }

    .dropdown-toggle::after {
      margin-top: 10px;
      margin-left: 5px;
      float: right;
      border-top: 0.3rem solid;
      border-right: 0.3rem solid transparent;
      border-bottom: 0;
      border-left: 0.3rem solid transparent;
    }

    .nav-link,
    .dropdown-item {
      color: $canvas-link-color;
      display: inline-block;
      padding: 0.5rem 1rem;
      width: 100%;
      border-bottom: $canvas-border;
      white-space: initial;

      @include hover-focus-active {
        text-decoration: none;
        color: $canvas-link-color;
        background-color: transparent;
      }
    }
  }
}

// Canvas left aimation
.site {
  transition: margin-left 0.5s;
  margin-left: 0;
  width: 100%;
  overflow: hidden;

  .show-nav & {
    // margin-left: $canvas-size;
    // height: 100%;
    // width: 100%;
    position: absolute;
    // position: fixed;
    z-index: $canvas-nav-z-index - 2;
  }
}

// Canvas nav overlay
.nav-overlay {
  background-color: #000;
  display: none;
  opacity: 0.8;
  position: absolute;
  z-index: $canvas-nav-z-index - 1;
  width: 100%;
  height: 100%;
  top: 0;

  .show-nav & {
    display: block;
  }
}

.canvas-menu-only {
  display: none;

  @include media-breakpoint-down($canvas-breakpoint) {
    display: block;
    text-align: center;
  }

  // Things in canvas menu (bottom)
  .site-link {
    color: #333;
    font-size: 0.8rem;
    margin-top: $spacer / 2;
  }

  .site-description {
    margin: $spacer / 2  0;
    font-size: 1rem;
  }

  .canvas-cta {
    margin-top: $spacer * 2;
  }

  .btn {
    margin-top: $spacer;
  }

  .logo {
    margin-bottom: 0;
  }
}

// Disable hover animations
.nav-link {
  @include media-breakpoint-down($canvas-breakpoint) {
    &::after {
      display: none;

      .active & {
        display: none;
      }
    }
  }
}

.show-nav {
  // margin-left: -$canvas-size;
  overflow: hidden;
}
