.type-portfolio {
  p {
    margin-bottom: $spacer;
  }
}

.portfolio-section {
  padding: $spacer * 2.5  0;

  img {
    margin-bottom: $spacer;
  }
}

.portfolio-heading {
  color: $text-color--dark;
  margin-bottom: $spacer * 2;
  text-align: center;
  font-weight: 700;
}

.portfolio-small-heading {
  color: $text-color--light;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0;
}

.entry-header--portfolio-single {
  background: none darken($primary, 10%);
  padding: $spacer * 3  0;
  font-size: 1.1rem;
  color: $text-color--light;
  margin-bottom: 0;

  @include media-breakpoint-up(md) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(67, 171, 232, 1)), url(../images/project-hero.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .size-large {
    margin: $spacer 0;

    @include media-breakpoint-up(md) {
      margin: 0;
    }
  }
}

.entry-title--portfolio-single {
  margin-bottom: $spacer;

  @include media-breakpoint-up(md) {
    margin-bottom: $spacer * 2;
  }
}
