$progress-bar-height: 25px;

.progress {
  height: $progress-bar-height;
  max-width: 700px;
  margin: 0 auto $spacer;

  &-bar {
    strong {
      display: none;
    }
  }
}

.bg-html {
  background-color: $blue;
}

.bg-css {
  background-color: $orange;
}

.bg-js {
  background-color: $yellow;
}

.bg-jq {
  background-color: darken($blue, 15%);
}

.bg-bs {
  background-color: $purple;
}

.bg-php {
  background-color: lighten($purple, 15%);
}

.bg-seo {
  background-color: $red;
}

.bg-wp {
  background-color: $primary;
}

.bg-react {
  background-color: #7ad6fa;
}
