#searchform {
  .field {
    height: $searchsubmit-height;
    width: $search-button-size;
  }

  #searchsubmit {
    height: $searchsubmit-height;
    width: $search-button-size;
    padding: 0;
  }
}
