.social-icons {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;

  .footer-dynamic & {
    margin: $spacer / 2 0;
  }

  .header-top-bar & {
    justify-content: center;

    @include media-breakpoint-up(md) {
      justify-content: flex-end;
    }
  }
}

.icon {
  background-size: cover;
  width: map-get($social-icon-sizes, 'mobile');
  height: map-get($social-icon-sizes, 'mobile');
  filter: invert(1); // make them white if the original png/svg is black

  @include media-breakpoint-up(lg) {
    width: map-get($social-icon-sizes, 'desktop');
    height: map-get($social-icon-sizes, 'desktop');
  }
}

.social-icon {
  margin-left: $spacer * 2;
  display: flex;
  align-items: flex-end;

  @include media-breakpoint-up(md) {
    margin-left: $spacer * 1;
  }

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    opacity: 0.4;
  }

  &--facebook {
    background-image: url(../images/fb.png);
  }

  &--twitter {
    background-image: url(../images/tw.png);
  }

  &--linkedin {
    background-image: url(../images/li.png);
  }

  &--instagram {
    background-image: url(../images/in.png);
  }

  &--whatsapp {
    background-image: url(../images/wa.png);
  }
}
