@import 'fonts';

p {
  margin-bottom: $spacer * 1.6;
}

h1 {
  font-weight: 900;
  font-size: $h1-font-size-mobile;

  @include media-breakpoint-up(md) {
    font-size: $h1-font-size;
  }
}

h2 {
  color: $primary;
  font-size: $h2-font-size-mobile;

  @include media-breakpoint-up(md) {
    font-size: $h2-font-size;
  }
}

h3 {
  font-size: $h3-font-size-mobile;

  @include media-breakpoint-up(md) {
    font-size: $h3-font-size;
  }
}

h4 {
  font-size: $h4-font-size-mobile;

  @include media-breakpoint-up(md) {
    font-size: $h4-font-size;
  }
}

h5 {
  font-size: $h5-font-size-mobile;

  @include media-breakpoint-up(md) {
    font-size: $h5-font-size;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: $headings-margin-top;

  span {
    display: block;
  }
}

.lead {
  font-size: 4.25rem;
  display: inline-block;
  line-height: 1;
}

.page-title {
  font-weight: 400;
  font-size: $h2-font-size;
}

.fc__title {
  margin-bottom: $spacer * 2.5;
  font-size: $fc-title-mobile;
  text-align: right;
  width: 100%;
  position: relative;

  @include media-breakpoint-up(md) {
    font-size: $fc-title;
    margin-bottom: $spacer * 3;
  }

  span {
    display: block;
    font-size: $fc-title-mobile * 0.85;
    font-weight: 400;

    @include media-breakpoint-up(md) {
      display: inline-block;
      font-size: $fc-title * 0.85;
    }
  }
}
