.widget {
  margin-bottom: $spacer * 2;

  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.widget-title {
  text-decoration: underline;
  text-underline-position: under;
  padding: $spacer / 2  0;
  font-size: $widget-title-size;
  margin-bottom: $spacer * 0.75;
  font-weight: 400;
}

// Search widget
.widget_search {
  font: inherit;

  .input-group {
    position: relative;
  }

  .field {
    padding-right: $search-button-size;
    height: $searchsubmit-height;
  }

  .input-group-append {
    display: inline-block;
    width: $search-button-size;
    position: absolute;
    right: 0;
    top: 0;

    .btn {
      height: $searchsubmit-height;
      padding: 0 $spacer;
    }
  }
}

// Tag cloud widget
.tagcloud {
  display: flex;
  flex-wrap: wrap;
}

.tag-cloud-link {
  background-color: $bg--light;
  color: $text-color--dark;
  border: 1px solid $primary;
  font-size: 0.9rem;
  padding: $spacer * 0.55  $spacer;
  margin-bottom: $spacer;
  margin-right: $spacer;

  &:hover {
    background-color: $bg--light;
    color: $primary;
    text-decoration: none;
  }
}

// Posts widgets
.widget_recent_entries {
  .post-date {
    font-size: 0.7rem;
    display: block;
  }
}

.footer-dynamic {
  .widget_custom_html {
    line-height: normal;
  }
}

#right-sidebar {
  .widget_text {
    background-color: $bg--light;
    padding: $spacer;

    &.widget_custom_html {
      background-color: transparent;
      padding: $spacer * 0.55  $spacer;
    }
  }

  // Make last sidebar widget Sticky
  .widget_last {
    position: relative;

    &.sticky {
      position: fixed;
      top: $spacer;
      background-color: #fff;
      width: 100%;
      max-width: 36%;
      box-shadow: 0 0 6px 1px #cecece;
      padding: 0 $spacer;
      z-index: 10;

      @include media-breakpoint-up(md) {
        max-width: 210px;
      }

      @include media-breakpoint-up(lg) {
        max-width: 290px;
      }

      @include media-breakpoint-up(xl) {
        max-width: 350px;
      }
    }
  }
}

.recent-posts-with-thumbnails {
  overflow: hidden;

  &__item {
    display: flex;
    width: 100%;
    float: left;
    margin-bottom: $spacer * 0.75;
    border-top: 1px solid #dedede;
    padding-top: $spacer * 0.75;

    &:first-child {
      border-top: 0;
      padding-top: 0;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }

  &__title {
    line-height: 1.2;
    font-size: 1rem;
    margin-bottom: 0;
    width: 100%;
  }

  &__thumb {
    max-width: 64px;
  }
}

// Making social widget responsive - bottom bar
.csbwfs-social-widget {
  z-index: $social-z-index;
  // width: 40px;
  // left: -2px !important;

  .show-nav & {
    z-index: -1;
  }

  .csbwfs-sbutton {
    float: left;
    overflow: hidden;
    // width: 42px;
    // height: 42px;

    a {
      // height: 42px;
      // width: 42px !important;
      // display: flex;

      @include hover-focus-active() {
        opacity: 0.8;
      }

      i {
        // margin: 0 auto;
        // width: 36px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    top: auto !important;
    bottom: 0;
    background-color: darken($primary, 15%);
    box-shadow: 0 0 5px 1px $dark;

    #csbwfs-social-inner {
      display: flex;
      justify-content: space-around;
    }

    .csbwfs-sbutton {
      float: left;
      display: flex;
      width: 100%;
      transition: 0;

      a {
        width: 100% !important;

        @include hover-focus-active {
          width: 100% !important;
        }
      }
    }

    .csbwfs-fb,
    .csbwfs-tw,
    .csbwfs-gp,
    .csbwfs-li,
    .csbwfs-pin,
    .csbwfs-re {
      width: 100%;
    }
  }
}
