// Adding basic WordPress classes to pass the WordPress.org tests
.sticky,
.gallery-caption,
.bypostauthor,
.wp-caption,
.wp-caption-text {
  font-size: inherit;
}

.screen-reader-text {
  @extend .sr-only;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: $spacer;
}

.alignright {
  display: inline;
  float: right;
  margin-left: $spacer;
}

.aligncenter {
  margin: 0 auto $spacer;
  display: block;
}
